{% extends 'base.html.twig' %}

{% block title %}Accueil - CircleSync
{% endblock %}

{% block body %}
	<section class="banner">
		<h1>Rejoignez CircleSync et découvrez des groupes qui partagent vos centres d'intérêt !</h1>
	</section>

	<section class="create-group">
		<h2>Choisissez un groupe</h2>
		<p>Rejoignez un groupe parmis ceux disponibles et rejoignez le cercle de vos collègues.</p>
	</section>

	<section class="group-list">
		<h2>Groupes disponibles</h2>
		<div class="groups">
			{% for group in groups %}
				<div class="group">
					<h3 class="group-title">
						<a href="{{ path('app_group_show', {'id': group.id}) }}">{{ group.name }}</a>
					</h3>
					<ul class="group-members">
						{% for user in group.users %}
							<li class="group-member">{{ user.lastname }}
								{{ user.firstname }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
