

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-16">
        <h1 class="text-3xl font-semibold mb-6">Create new Post</h1>
        {{ include('post/_form.html.twig') }}
        <a href="{{ path('app_post_index') }}" class="text-blue-600 hover:text-blue-500 mt-4">Back to list</a>
    </div>
{% endblock %}
